@{
    ViewBag.Title = "Gráfico Novos Clientes";
    Layout = "_LayoutDashboard";
}
<h2 class="mt-2 mb-2">Novos Clientes Nos Últimos 12 Meses</h2>

<div class="chart-container" style="position: relative; height:70vh; width:80vw">
    <canvas id="chartNovosClientes"></canvas>
</div>
@*@section Scripts {

 }*@